<!doctype html>
<div class="profile-edit-wrap">
    <form class="profile-edit" action="/profile/edit" method="post">
        <input type="text" name="name" value="{{data.name}}" placeholder="Name">
        <input type="text" name="surname" value="{{data.surname}}" placeholder="Surname">
        <input type="text" name="email" value="{{data.email}}" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="age" value="{{data.age}}" placeholder="Age">
        <input type="text" name="city" value="{{data.city}}" placeholder="City">
        <input type="text" name="url" value="{{data.url}}" placeholder="Homepage">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button name="updateButton">Update</button>

     </form>

</div>
