<!DOCTYPE html>
<div class="signers-wrap">
    <h1>Here you can see the names of other people that have signed the petiton</h1>

            <ul>
                {{#each signers}}
                    <li>
                        <a href="{{url}}">{{name}} {{surname}},</a>
                        {{age}},
                        {{#if city }}
                            <a href="/signers/{{city}}">{{city}}</a>
                        {{/if}}
                    </li>
                {{/each}}

            </ul>
            {{>logoutButton}}


</div>

​
